/*

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
*{
margin: 0;
padding: 0;
text-decoration: none;
}

:root{
    --wall:#58504a;
    --uniform:#800080;
    --background1:#caf0f8;
    --color4:#9eb9ba;
    --color5:#58504a;
    --color6:#58504a;
}
.intro{
    border: 1px solid red;
    height: 100vh;
    background:var(--background1) ;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Inter", sans-serif;
}
.introcard{
    width: 50vw;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.269);
    background-color: var(--color4);
    border-radius: 10px;
}
.introcard h2{
 margin: 30px 10px;
 font-weight: 600;
 font-size: clamp(10px,4vw,30px);
}
.introcard p{
 margin: 20px 10px;
 font-weight: 300;
 letter-spacing: 1.5px;
 line-height: 22px;
 color: rgb(0, 0, 0);
font-size: clamp(8px,3.5vw,18px);
}
.introcard a{
 margin: 30px 10px;
 color: white;
}
a button{
    border: none;
    padding: 12px;
    width: 22%;
    background-color: var(--uniform);
     margin: 20px 10px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 600;
}
@media (max-width:1149px){
  .introcard{
    width: 90vw;
    padding: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.269);
    background-color: var(--color4);
    border-radius: 10px;
}  
.introcard p{
 margin: 20px 10px;
 font-weight: 300;
 letter-spacing: 1.5px;
 color: rgb(0, 0, 0);
 line-height: normal;
}
a button{
    
    width:200px;
  
}
}